@import "../../styles/index.scss";
.triangle {
    z-index: 0;
    width: 50em;
    height: 42em;
    overflow: hidden;
    position: relative;

    &__imgContainer {
        width: 100%;
        height: 100%;
        left: -0.25em;
        overflow: hidden;
        position: absolute;
        // arctan(27 / 40) = 34.01935deg
        //  need to skew by 90deg - 34.01935deg = 55.98065deg
        transform-origin: 100% 0;
        transform: skewX(-50.98deg);
    }
    &__img {
        width: 100%;
        height: 100%;
        background-size: cover;
        transform-origin: inherit;
        transform: skewX(50.98deg);
        background-position: bottom;
        background-image: url("../../assets/img/sunset_traffic.jpg");
    }
}

.triangleContainer {
    top: 0;
    left: 0;
    opacity: 1;
    position: absolute;
    transition: all 0.5s ease-in;
    @media only screen and (max-width: 768px) {
        opacity: 0.5;
    }
}

.maasivo {
    gap: 50px;
    padding: 3% 0;
    @include column;
    position: relative;
    align-items: center;
    @media only screen and (max-width: 576px) {
        gap: 30px;
        padding: 30px 0;
    }
    &__contentContainer {
        gap: 20px;
        z-index: 1;
        padding: 20px 5%;
        @include row;
        align-items: center;
        @media only screen and (max-width: 576px) {
            @include column;
        }
    }
    &__content {
        flex: 1;
        @include column;
        @include centered;
    }
    &__headerLeft {
        width: 50%;
        z-index: 1;
        float: left;
        position: relative !important;
        @media only screen and (max-width: 576px) {
            width: 100%;
        }
    }
    &__headerRight {
        width: 50%;
        z-index: 1;
        float: right;
        position: relative !important;
        @media only screen and (max-width: 768px) {
            width: 100%;
        }
    }
    &__blueImg {
        z-index: 0;
        width: 30%;
        right: 0 !important;
        transition: all 0.5s;
        transform: translateY(20%);
        position: absolute !important;
        @media only screen and (max-width: 768px) {
            width: 100%;
            opacity: 0.4;
            transform: translateY(-2%);
        }
    }
    &__section {
        gap: 50px;
        width: 100%;
        padding: 0% 5%;
        @include column;
        box-sizing: border-box;
    }
    &__gradientCircle {
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        margin: auto;
        opacity: 0.7;
        position: absolute;
        transform: translate(30%, 0);
    }
    &__headerDiv {
        width: 100%;
        @include row;
        justify-content: flex-start;
        @media only screen and (max-width: 576px) {
            padding: 0 5%;
        }
    }
    &__headerDivRight {
        width: 100%;
        @include row;
        justify-content: flex-end;
        @media only screen and (max-width: 576px) {
            padding: 0 5%;
        }
    }
}
