@mixin row {
    display: flex;
    flex-direction: row;
}

@mixin column {
    display: flex;
    flex-direction: column;
}

@mixin bg($bg) {
    background-size: cover;
    background-image: url($bg);
    background-position: center;
    background-repeat: no-repeat;
}

@mixin bannerTop {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
    position: absolute;
    background-image: linear-gradient(black, transparent);
}

@mixin bannerBottom {
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    position: absolute;
    background-image: linear-gradient(transparent, black);
}

@mixin centered {
    align-items: center;
    justify-content: center;
}
