@import "../../styles/index.scss";
.container {
    position: relative;
    align-items: center;
    @include column;
    &__sectHeader {
        top: 50px;
        z-index: 99;
        @media only screen and (max-width: 768px) {
            top: 0;
        }
    }
    &__bannerImg {
        z-index: 1;
        width: 100%;
        box-sizing: border-box;
        background-size: cover;
        justify-content: center;
        background-position: bottom 50%;
        background-image: url("../../assets/img/phoneRoad.jpg");
    }
    &__bottomFade {
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        margin: auto;
        height: 100px;
        position: absolute;
        background-image: linear-gradient(transparent, #000);
    }
    &__darkBg {
        gap: 30px;
        @include column;
        position: relative;
        align-items: center;
        padding: 200px 5% 5%;
        background: rgba($color: #000000, $alpha: 0.6);
        @media only screen and (max-width: 768px) {
            padding: 5%;
        }
    }
    &__imgDescription {
        left: 0;
        right: 0;
        bottom: 0;
        width: 80%;
        margin: auto;
        z-index: 1;
        box-sizing: border-box;
        @media only screen and (max-width: 768px) {
            width: 90%;
        }
        @media only screen and (max-width: 576px) {
            width: 100%;
        }
    }
    &__videoContainer {
        z-index: 1;
        width: 100%;
        height: max-content;
    }
    &__iframe {
        width: 100%;
        height: 500px;
    }
    &__features {
        gap: 50px;
        z-index: 1;
        padding: 5%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        @media only screen and (max-width: 768px) {
            gap: 20px;
        }
        @media only screen and (max-width: 576px) {
            padding: 3% 5% 10% 5%;
            flex-direction: column;
        }
    }
    &__gradientCircle {
        right: 0;
        bottom: 0;
        z-index: 0;
        position: absolute;
        transform: translate(30%, 0);
    }
}
